In [ ]:
#Q1-Get your name and age as input and print it in the form like
#Your name is Hulisi. Your age is 43
name=input('What is your name? ')
age=input('What is your age? ')
print("Your name is", name+".", "Your age is", age)

What is your name? Aslan
What is your age? 20
Your name is Aslan. Your age is 20

In [ ]:
#Q2-Write a if statement for a given two number is equal or not
a=43
b=54
if a==b:
    print('These numbers equal')
else:
    print('These numbers are not equal')

These numbers are not equal

In [ ]:
#Q3-Write a if statement for first number is greater (a), equal or less than second number.(b)
a=43
b=54
if a > b:
    print("First number", a, "is greater than the second number", b)
elif a < b:
    print("First number", a, "is less than the second number", b)
else:
    print("First number", a, "is equal to the second number", b)

First number 43 is less than the second number 54

In [ ]:
#Q4- Using for loop, print 1,2,3,4,5
for k in range(1, 6):
  print(k, end=" ")

1 2 3 4 5

In [ ]:
#Q5-Using while loop, print 5,4,3,2,1
i = 5
while i > 0:
  print(i, end=" ")
  i = i - 1

5 4 3 2 1

In [ ]:
#Q6- Using for loop, print 10,6,4,2,0
#Hint Print if number is not equal to 8.
for i in range(10, 0, -2):
  if i == 8:
    continue
  print(i, end=" ")

10 6 4 2

In [ ]:
#Q7-Write a method to calculate age for a given date of birth year.
#Use this method on orer to calculate age of person if date of birth is 1944
# if age is the name of function, print(age(1944))
birthYear = int(input())
def age(birthYear):
  print(2024 - birthYear)
age(birthYear)

2003
21

In [ ]:
#Q8-Write a class named arithmetic with method for calculating addition, substraction, multiplication and division of two numbers.
class arithmetic:
  def addition(x,y):
    return x+y
  def subtraction(x,y):
    return x-y
  def multiplication(x,y):
    return x*y
  def division(x,y):
    return x / y
arithmetic.addition(3,4)
arithmetic.subtraction(3,4)
arithmetic.division(3,4)
arithmetic.multiplication(3,4)

12

In [ ]:
#Q9- write a for loop or method  to calculate summation of first n numbers
#i.e if n=3, it will print or return 6 (1+2+3)
sum = 0
n = int(input())
for i in range(1, n+1):
  sum = sum + i
print(sum)

3
6

In [ ]:
#Q10-Generate 10 numbers between 0 and 1 and add into list. Print first three elements of that list.
import random
list = []
for i in range(0, 10):
  list.append(random.random())
for i in range(0, 3):
  print(list[i], end=" ")

0.525608705597076 0.9287289737251812 0.30258998466545617

In [ ]:
#Q11-For a given number n, print numbers divisible by 3 up to that number(n included)
#Example: if n=15, print 3,6,9,12,15
#Hint you can use modulus statement (if (i%3==0))
n=15
for i in range(1, n+1):
  if i % 3 == 0:
    print(i, end=" ")

3 6 9 12 15